.title {
  text-align: center;
}
.setupBar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin: 0 auto;
}
.board {
  display: flex;
  flex-direction: row;
  margin: 20px auto 0;
  border: 1px solid black;
}
